In [1]:
import pandas as pd
df = pd.read_csv('NY-Housing-Data.csv')

df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

In [2]:
drop_df = df.drop(['BROKERTITLE', 'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS','LATITUDE', 'LONGITUDE'], axis=1)
drop_df

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
0,Condo for sale,315000,2,2.000000,1400.000000,New York County,New York,Manhattan
1,Condo for sale,195000000,7,10.000000,17545.000000,United States,New York,New York County
2,House for sale,260000,4,2.000000,2015.000000,United States,New York,Richmond County
3,Condo for sale,69000,3,1.000000,445.000000,United States,New York,New York County
4,Townhouse for sale,55000000,7,2.373861,14175.000000,United States,New York,New York County
...,...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.000000,2184.207862,New York,New York County,New York
4797,Co-op for sale,245000,1,1.000000,2184.207862,United States,New York,Queens County
4798,Co-op for sale,1275000,1,1.000000,2184.207862,United States,New York,New York County
4799,Condo for sale,598125,2,1.000000,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.000000,750.000000,New York,Kings County,Brooklyn

In [3]:
df_filtered = drop_df[drop_df['ADMINISTRATIVE_AREA_LEVEL_2'] == 'New York']
df_filtered

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
6,Condo for sale,899500,2,2.0,2184.207862,New York,New York County,New York
9,Co-op for sale,440000,2,1.0,978.000000,New York,Kings County,Brooklyn
10,Co-op for sale,375000,2,1.0,850.000000,New York,Bronx County,The Bronx
12,Co-op for sale,259000,3,1.0,2184.207862,New York,Queens County,Queens
13,Co-op for sale,430000,2,2.0,2184.207862,New York,Queens County,Queens
...,...,...,...,...,...,...,...,...
4793,Co-op for sale,1950000,2,4.0,2184.207862,New York,New York County,New York
4794,Condo for sale,945000,2,2.0,903.000000,New York,New York County,New York
4796,Co-op for sale,599000,1,1.0,2184.207862,New York,New York County,New York
4799,Condo for sale,598125,2,1.0,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.0,750.000000,New York,Kings County,Brooklyn

In [4]:
df_filtered2 = df_filtered[df_filtered['TYPE'].isin(['Condo for sale', 'Co-op for sale', 'House for sale', 'Multi-family home for sale', 'Townhouse for sale'])]
df_filtered2

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
6,Condo for sale,899500,2,2.0,2184.207862,New York,New York County,New York
9,Co-op for sale,440000,2,1.0,978.000000,New York,Kings County,Brooklyn
10,Co-op for sale,375000,2,1.0,850.000000,New York,Bronx County,The Bronx
12,Co-op for sale,259000,3,1.0,2184.207862,New York,Queens County,Queens
13,Co-op for sale,430000,2,2.0,2184.207862,New York,Queens County,Queens
...,...,...,...,...,...,...,...,...
4793,Co-op for sale,1950000,2,4.0,2184.207862,New York,New York County,New York
4794,Condo for sale,945000,2,2.0,903.000000,New York,New York County,New York
4796,Co-op for sale,599000,1,1.0,2184.207862,New York,New York County,New York
4799,Condo for sale,598125,2,1.0,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.0,750.000000,New York,Kings County,Brooklyn

In [5]:
df_dropped2 = df_filtered2.drop(['ADMINISTRATIVE_AREA_LEVEL_2', 'SUBLOCALITY'], axis=1)
df_dropped2

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [6]:
df_filtered3 = df_dropped2[df['LOCALITY'].isin(['New York County', 'Kings County', 'Queens County', 'Richmond County', 'Bronx County'])]
df_filtered3

C:\Users\kkeeg\AppData\Local\Temp\ipykernel_18960\653075797.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtered3 = df_dropped2[df['LOCALITY'].isin(['New York County', 'Kings County', 'Queens County', 'Richmond County', 'Bronx County'])]

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [7]:
df['PROPERTYSQFT'] = df['PROPERTYSQFT'].astype(int)
df['BATH'] = df['BATH'].astype(int)
df_filtered3

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [12]:
df_filtered4 = df_filtered3[df_filtered3['PROPERTYSQFT'] != 2184.207862]
df_filtered4

                TYPE    PRICE  BEDS      BATH  PROPERTYSQFT         LOCALITY
9     Co-op for sale   440000     2  1.000000         978.0     Kings County
10    Co-op for sale   375000     2  1.000000         850.0     Bronx County
15    Condo for sale   549000     2  2.000000        1000.0  Richmond County
17    Co-op for sale   199000     3  1.000000         325.0     Kings County
18    Co-op for sale   350000     1  1.000000         700.0     Bronx County
...              ...      ...   ...       ...           ...              ...
4788  Co-op for sale  4750000     3  2.373861        2969.0  New York County
4790  Condo for sale   789000     3  2.373861         800.0  New York County
4794  Condo for sale   945000     2  2.000000         903.0  New York County
4799  Condo for sale   598125     2  1.000000         655.0    Queens County
4800  Co-op for sale   349000     1  1.000000         750.0     Kings County

[1315 rows x 6 columns]

In [20]:
tolerance = 1e-6

df_filtered5 = df_filtered4[abs(df_filtered4['BATH'] - 2.373861) > tolerance]

df_filtered5

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
9     Co-op for sale   440000     2   1.0         978.0     Kings County
10    Co-op for sale   375000     2   1.0         850.0     Bronx County
15    Condo for sale   549000     2   2.0        1000.0  Richmond County
17    Co-op for sale   199000     3   1.0         325.0     Kings County
18    Co-op for sale   350000     1   1.0         700.0     Bronx County
...              ...      ...   ...   ...           ...              ...
4782  Condo for sale  2600000     3   2.0        1729.0  New York County
4787  Condo for sale   499000     3   1.0         472.0  New York County
4794  Condo for sale   945000     2   2.0         903.0  New York County
4799  Condo for sale   598125     2   1.0         655.0    Queens County
4800  Co-op for sale   349000     1   1.0         750.0     Kings County

[1307 rows x 6 columns]

In [22]:
df_final = df_filtered5.reset_index(drop=True)
df_final

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
0     Co-op for sale   440000     2   1.0         978.0     Kings County
1     Co-op for sale   375000     2   1.0         850.0     Bronx County
2     Condo for sale   549000     2   2.0        1000.0  Richmond County
3     Co-op for sale   199000     3   1.0         325.0     Kings County
4     Co-op for sale   350000     1   1.0         700.0     Bronx County
...              ...      ...   ...   ...           ...              ...
1302  Condo for sale  2600000     3   2.0        1729.0  New York County
1303  Condo for sale   499000     3   1.0         472.0  New York County
1304  Condo for sale   945000     2   2.0         903.0  New York County
1305  Condo for sale   598125     2   1.0         655.0    Queens County
1306  Co-op for sale   349000     1   1.0         750.0     Kings County

[1307 rows x 6 columns]

In [23]:
new_file_name = 'clean_NY_Housing_data.csv'

# Construct the new file path in the current working directory
new_file_path = new_file_name

# Export the DataFrame to the new CSV file
df.to_csv(new_file_path, index=False)