In [1]:
import pandas as pd
df = pd.read_csv('NY-Housing-Data.csv')

df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

In [2]:
drop_df = df.drop(['BROKERTITLE', 'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS','LATITUDE', 'LONGITUDE'], axis=1)
drop_df

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
0,Condo for sale,315000,2,2.000000,1400.000000,New York County,New York,Manhattan
1,Condo for sale,195000000,7,10.000000,17545.000000,United States,New York,New York County
2,House for sale,260000,4,2.000000,2015.000000,United States,New York,Richmond County
3,Condo for sale,69000,3,1.000000,445.000000,United States,New York,New York County
4,Townhouse for sale,55000000,7,2.373861,14175.000000,United States,New York,New York County
...,...,...,...,...,...,...,...,...
4796,Co-op for sale,599000,1,1.000000,2184.207862,New York,New York County,New York
4797,Co-op for sale,245000,1,1.000000,2184.207862,United States,New York,Queens County
4798,Co-op for sale,1275000,1,1.000000,2184.207862,United States,New York,New York County
4799,Condo for sale,598125,2,1.000000,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.000000,750.000000,New York,Kings County,Brooklyn

In [3]:
df_filtered = drop_df[drop_df['ADMINISTRATIVE_AREA_LEVEL_2'] == 'New York']
df_filtered

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
6,Condo for sale,899500,2,2.0,2184.207862,New York,New York County,New York
9,Co-op for sale,440000,2,1.0,978.000000,New York,Kings County,Brooklyn
10,Co-op for sale,375000,2,1.0,850.000000,New York,Bronx County,The Bronx
12,Co-op for sale,259000,3,1.0,2184.207862,New York,Queens County,Queens
13,Co-op for sale,430000,2,2.0,2184.207862,New York,Queens County,Queens
...,...,...,...,...,...,...,...,...
4793,Co-op for sale,1950000,2,4.0,2184.207862,New York,New York County,New York
4794,Condo for sale,945000,2,2.0,903.000000,New York,New York County,New York
4796,Co-op for sale,599000,1,1.0,2184.207862,New York,New York County,New York
4799,Condo for sale,598125,2,1.0,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.0,750.000000,New York,Kings County,Brooklyn

In [4]:
df_filtered2 = df_filtered[df_filtered['TYPE'].isin(['Condo for sale', 'Co-op for sale', 'House for sale', 'Multi-family home for sale', 'Townhouse for sale'])]
df_filtered2

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
6,Condo for sale,899500,2,2.0,2184.207862,New York,New York County,New York
9,Co-op for sale,440000,2,1.0,978.000000,New York,Kings County,Brooklyn
10,Co-op for sale,375000,2,1.0,850.000000,New York,Bronx County,The Bronx
12,Co-op for sale,259000,3,1.0,2184.207862,New York,Queens County,Queens
13,Co-op for sale,430000,2,2.0,2184.207862,New York,Queens County,Queens
...,...,...,...,...,...,...,...,...
4793,Co-op for sale,1950000,2,4.0,2184.207862,New York,New York County,New York
4794,Condo for sale,945000,2,2.0,903.000000,New York,New York County,New York
4796,Co-op for sale,599000,1,1.0,2184.207862,New York,New York County,New York
4799,Condo for sale,598125,2,1.0,655.000000,New York,Queens County,Queens
4800,Co-op for sale,349000,1,1.0,750.000000,New York,Kings County,Brooklyn

In [5]:
df_dropped2 = df_filtered2.drop(['ADMINISTRATIVE_AREA_LEVEL_2', 'SUBLOCALITY'], axis=1)
df_dropped2

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [6]:
df_filtered3 = df_dropped2[df['LOCALITY'].isin(['New York County', 'Kings County', 'Queens County', 'Richmond County', 'Bronx County'])]
df_filtered3

C:\Users\kkeeg\AppData\Local\Temp\ipykernel_21768\653075797.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtered3 = df_dropped2[df['LOCALITY'].isin(['New York County', 'Kings County', 'Queens County', 'Richmond County', 'Bronx County'])]

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [7]:
df['PROPERTYSQFT'] = df['PROPERTYSQFT'].astype(int)
df['BATH'] = df['BATH'].astype(int)
df_filtered3

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
6     Condo for sale   899500     2   2.0   2184.207862  New York County
9     Co-op for sale   440000     2   1.0    978.000000     Kings County
10    Co-op for sale   375000     2   1.0    850.000000     Bronx County
12    Co-op for sale   259000     3   1.0   2184.207862    Queens County
13    Co-op for sale   430000     2   2.0   2184.207862    Queens County
...              ...      ...   ...   ...           ...              ...
4793  Co-op for sale  1950000     2   4.0   2184.207862  New York County
4794  Condo for sale   945000     2   2.0    903.000000  New York County
4796  Co-op for sale   599000     1   1.0   2184.207862  New York County
4799  Condo for sale   598125     2   1.0    655.000000    Queens County
4800  Co-op for sale   349000     1   1.0    750.000000     Kings County

[2092 rows x 6 columns]

In [8]:
df_filtered4 = df_filtered3[df_filtered3['PROPERTYSQFT'] != 2184.207862]
df_filtered4

                TYPE    PRICE  BEDS      BATH  PROPERTYSQFT         LOCALITY
9     Co-op for sale   440000     2  1.000000         978.0     Kings County
10    Co-op for sale   375000     2  1.000000         850.0     Bronx County
15    Condo for sale   549000     2  2.000000        1000.0  Richmond County
17    Co-op for sale   199000     3  1.000000         325.0     Kings County
18    Co-op for sale   350000     1  1.000000         700.0     Bronx County
...              ...      ...   ...       ...           ...              ...
4788  Co-op for sale  4750000     3  2.373861        2969.0  New York County
4790  Condo for sale   789000     3  2.373861         800.0  New York County
4794  Condo for sale   945000     2  2.000000         903.0  New York County
4799  Condo for sale   598125     2  1.000000         655.0    Queens County
4800  Co-op for sale   349000     1  1.000000         750.0     Kings County

[1315 rows x 6 columns]

In [9]:
tolerance = 1e-6

df_filtered5 = df_filtered4[abs(df_filtered4['BATH'] - 2.373861) > tolerance]

df_filtered5

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
9     Co-op for sale   440000     2   1.0         978.0     Kings County
10    Co-op for sale   375000     2   1.0         850.0     Bronx County
15    Condo for sale   549000     2   2.0        1000.0  Richmond County
17    Co-op for sale   199000     3   1.0         325.0     Kings County
18    Co-op for sale   350000     1   1.0         700.0     Bronx County
...              ...      ...   ...   ...           ...              ...
4782  Condo for sale  2600000     3   2.0        1729.0  New York County
4787  Condo for sale   499000     3   1.0         472.0  New York County
4794  Condo for sale   945000     2   2.0         903.0  New York County
4799  Condo for sale   598125     2   1.0         655.0    Queens County
4800  Co-op for sale   349000     1   1.0         750.0     Kings County

[1307 rows x 6 columns]

In [10]:
df_final = df_filtered5.reset_index(drop=True)
df_final

                TYPE    PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
0     Co-op for sale   440000     2   1.0         978.0     Kings County
1     Co-op for sale   375000     2   1.0         850.0     Bronx County
2     Condo for sale   549000     2   2.0        1000.0  Richmond County
3     Co-op for sale   199000     3   1.0         325.0     Kings County
4     Co-op for sale   350000     1   1.0         700.0     Bronx County
...              ...      ...   ...   ...           ...              ...
1302  Condo for sale  2600000     3   2.0        1729.0  New York County
1303  Condo for sale   499000     3   1.0         472.0  New York County
1304  Condo for sale   945000     2   2.0         903.0  New York County
1305  Condo for sale   598125     2   1.0         655.0    Queens County
1306  Co-op for sale   349000     1   1.0         750.0     Kings County

[1307 rows x 6 columns]

In [11]:
df_final['PRICE_PER_SQFT'] = df_final['PRICE'] / df['PROPERTYSQFT']
df_final['PRICE_PER_SQFT'] =df_final['PRICE_PER_SQFT'].astype(int)
df_final

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,LOCALITY,PRICE_PER_SQFT
0,Co-op for sale,440000,2,1.0,978.0,Kings County,314
1,Co-op for sale,375000,2,1.0,850.0,Bronx County,21
2,Condo for sale,549000,2,2.0,1000.0,Richmond County,272
3,Co-op for sale,199000,3,1.0,325.0,Kings County,447
4,Co-op for sale,350000,1,1.0,700.0,Bronx County,24
...,...,...,...,...,...,...,...
1302,Condo for sale,2600000,3,2.0,1729.0,New York County,2610
1303,Condo for sale,499000,3,1.0,472.0,New York County,228
1304,Condo for sale,945000,2,2.0,903.0,New York County,175
1305,Condo for sale,598125,2,1.0,655.0,Queens County,119
1306,Co-op for sale,349000,1,1.0,750.0,Kings County,290

In [12]:
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [13]:
# Define the target variable (above/below 75) and features
y = (df_final['PRICE_PER_SQFT'] > 75).astype(int)
X = df_final.drop(['PRICE', 'PRICE_PER_SQFT', 'LOCALITY', 'TYPE'], axis=1)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Logistic Regression model
lr_model = LogisticRegression()

# Train the model on the training data
lr_model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = lr_model.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.950381679389313
Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        13
           1       0.95      1.00      0.97       249

    accuracy                           0.95       262
   macro avg       0.48      0.50      0.49       262
weighted avg       0.90      0.95      0.93       262

Confusion Matrix:
[[  0  13]
 [  0 249]]

C:\Users\kkeeg\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kkeeg\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kkeeg\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [14]:
df_scaled= df_final.copy()
col_names= ['PRICE','BEDS', 'BATH','PROPERTYSQFT']
features= df_scaled[col_names]

In [15]:
scaler= StandardScaler()

df_scaled[col_names]= scaler.fit_transform(features.values)
df_scaled

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,LOCALITY,PRICE_PER_SQFT
0,Co-op for sale,-0.343229,-0.132807,-0.598992,-0.280956,Kings County,314
1,Co-op for sale,-0.362334,-0.132807,-0.598992,-0.397592,Bronx County,21
2,Condo for sale,-0.311190,-0.132807,0.185459,-0.260909,Richmond County,272
3,Co-op for sale,-0.414066,0.564296,-0.598992,-0.875980,Kings County,447
4,Co-op for sale,-0.369682,-0.829910,-0.598992,-0.534274,Bronx County,24
...,...,...,...,...,...,...,...
1302,Condo for sale,0.291667,0.564296,0.185459,0.403367,New York County,2610
1303,Condo for sale,-0.325886,0.564296,-0.598992,-0.742031,New York County,228
1304,Condo for sale,-0.194792,-0.132807,0.185459,-0.349297,New York County,175
1305,Condo for sale,-0.296750,-0.132807,-0.598992,-0.575279,Queens County,119
1306,Co-op for sale,-0.369976,-0.829910,-0.598992,-0.488713,Kings County,290

In [19]:
df_scaled.columns = df_scaled.columns.str.strip().str.lower()
df_scaled = pd.get_dummies(df_scaled, columns=['locality', 'type'], drop_first=True)

In [20]:
df_scaled

,price,beds,bath,propertysqft,price_per_sqft,locality_Kings County,locality_New York County,locality_Queens County,locality_Richmond County,type_Condo for sale,type_House for sale,type_Multi-family home for sale,type_Townhouse for sale
0,-0.343229,-0.132807,-0.598992,-0.280956,314,True,False,False,False,False,False,False,False
1,-0.362334,-0.132807,-0.598992,-0.397592,21,False,False,False,False,False,False,False,False
2,-0.311190,-0.132807,0.185459,-0.260909,272,False,False,False,True,True,False,False,False
3,-0.414066,0.564296,-0.598992,-0.875980,447,True,False,False,False,False,False,False,False
4,-0.369682,-0.829910,-0.598992,-0.534274,24,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,0.291667,0.564296,0.185459,0.403367,2610,False,True,False,False,True,False,False,False
1303,-0.325886,0.564296,-0.598992,-0.742031,228,False,True,False,False,True,False,False,False
1304,-0.194792,-0.132807,0.185459,-0.349297,175,False,True,False,False,True,False,False,False
1305,-0.296750,-0.132807,-0.598992,-0.575279,119,False,False,True,False,True,False,False,False
1306,-0.369976,-0.829910,-0.598992,-0.488713,290,True,False,False,False,False,False,False,False

In [21]:

X = df_scaled.drop('price', axis=1)  # Features
y = df_scaled['price']  # Target


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LinearRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")


coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

Mean Squared Error: 0.21884034073548478
R-squared: 0.7971548486508491
                                 Coefficient
beds                               -0.073242
bath                               -0.020973
propertysqft                        0.410672
price_per_sqft                      0.000241
locality_Kings County              -0.010184
locality_New York County            0.148220
locality_Queens County              0.011000
locality_Richmond County            0.034266
type_Condo for sale                 0.095760
type_House for sale                -0.178502
type_Multi-family home for sale    -1.487653
type_Townhouse for sale            -0.097790